<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://images.vexels.com/media/users/3/137028/isolated/preview/52f6a83cbfc0e6a006a7222efdeb9752-turkey-standing-silhouette-by-vexels.png">   
  <link rel="stylesheet" href="stylesheets/style.css">   
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gobbler</title>
</head>
<body>



<!-- navbar materialize  -->
  <nav>
    <div class="nav-wrapper red darken-4">
      <a href="/gobbles" class="brand-logo center">Gobbler</a>
      <ul class="right hide-on-med-and-down">
        <% if (user) { %>
        <li >
          <a href="/gobbles/all" class="left-align">See All Gobbles</a>
        </li>
        <li class="nav-item">
          <a href="/logout">Logout</a>
          <% } else { %>
          <a href="/auth/twitter">Login with twitter</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>
<!-- collections with header -->
  <div class="container">
      <div class="row valign-wrapper">
        <div class="col s12 valign">
          <div class="card">
            <div class="card-content">
                <% if (user){ %>
                  <img id="avatarImg" src="<%= user.avatar %>" alt="">
                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <h4><strong>@<%= user.displayName %></strong></h4>
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Gobble on bro..." class="materialize-textarea" name="gobble-input" id="gobble">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="userButtons">
                    <button class="btn waves-effect waves-light" type="submit" onclick="gobble()">Gobble
                      <i class="material-icons right">send</i>
                    </button> 
                  </div>
                  <div id="userGobbles">
                    <% for(let i = user.gobbles.length - 1 ; i > 0; i-- ){ %>
                    <div id=<% user.gobbles[i] %> >
                      <strong>@<%= user.displayName %>&nbsp;|&nbsp;</strong><%= user.gobbles[i].content %>                
                      <span><img id="gravy" src="https://i.imgur.com/JmgloVQ.png"></span>
                      <input type="button" value="delete" id="deletebtn" data-gobbleid="<%= user.gobbles[i]._id %>">
                      <a href="/gobbles/edit/<%= user.gobbles[i]._id %>"><input type="button" value="edit" id="updatebtn" data-gobbleid="<%= user.gobbles[i]._id %>"></a>
                    </div>
                    <% } %>
                  </div>
                  <div>
                    <h4 class="tl" >Twitter Feed</h4>
                    <% for(t in Timeline){ %>
                      <ul>
                        <li><%= Timeline[t] %></li>
                      </ul>
                    <% }; %>  
                  </div>
                <% }; %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="javascripts/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $('#textarea1').val('New Text');
    $('#textarea1').trigger('autoresize');
  </script>
</body>
</html>